* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header {
  background-color: #e6e6e6;
  width: 100%;
}
.header .header-banner {
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: #4d4d4d;
  align-items: center;
  height: 146px;
}
.header .header-nav {
  margin-left: 40px;
  display: none;
}
@media (min-width: 943px) {
  .header .header-nav {
    display: block;
  }
}

.header-list {
  width: 100%;
  list-style: none;
  display: flex;
  font-size: 24px;
}
.header-list .header-items + .header-items {
  padding-left: 40px;
}
.header-list .header-link {
  text-decoration: none;
  color: white;
}
.header-list .header-link:hover {
  text-decoration: underline;
  color: #99ffff;
}

.content {
  width: 100%;
  margin-top: 20px;
}
.content .contents-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .contents-center .content-menu {
  width: 28%;
}
.content .contents-center .content-products {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-title {
  text-transform: uppercase;
  width: 100%;
  background-color: #4d4d4d;
  text-align: center;
  color: white;
  line-height: 40px;
}
@media (min-width: 943px) {
  .content-title {
    font-size: 18px;
  }
}

.content-qc img {
  margin-top: 10px;
}

.content-list {
  font-size: 16px;
  list-style: none;
  background-color: #666666;
  padding: 5px 0 20px 25px;
}
.content-list .content-item {
  margin-top: 25px;
  text-transform: lowercase;
}
.content-list .content-item .content-link {
  text-decoration: none;
  color: white;
}
.content-list .content-item .content-link:hover {
  text-decoration: underline;
  color: #99ffff;
}

.product-item {
  width: 44%;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
}
@media (min-width: 943px) {
  .product-item {
    width: 30%;
    height: 379px;
  }
}

.product-content {
  width: 100%;
  padding-top: 20px;
  font-size: 14px;
}
.product-content h4 {
  font-size: 22px;
  color: #666666;
}
.product-content .content-corlor {
  padding: 20px 0;
  font-style: italic;
  color: #666;
}
.product-content .content-money {
  color: #ff0080;
  font-weight: bold;
}

.shops {
  margin: 45px 0;
  width: 100%;
}
.shops .shops-sale {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shops .shops-sale .shops-img {
  width: 48%;
  margin-bottom: 30px;
}
@media (min-width: 943px) {
  .shops .shops-sale .shops-img {
    width: 24%;
  }
}

.shops-content {
  padding-top: 15px;
  font-size: 14px;
}
.shops-content .shops-title {
  font-size: 22px;
  color: #666666;
}
.shops-content .shops-corlor {
  color: #666;
  padding: 10px 0;
}
.shops-content .shops-money {
  font-weight: bold;
  color: #ff0080;
}
.shops-content .shops-money .money-dissable {
  text-decoration: line-through;
  color: #ccc;
  padding-left: 20px;
  font-weight: normal;
}

.footer {
  width: 100%;
  background-color: #e6e6e6;
}
.footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  font-size: 16px;
}
.footer .footer-content .footer-sp {
  width: 30%;
}
.footer .footer-content .footer-img {
  width: 30%;
  margin-right: 40px;
}

.footer-list {
  list-style: none;
}
.footer-list .footer-items {
  padding-bottom: 15px;
}
.footer-list .footer-items .footer-link {
  text-decoration: none;
  color: #666666;
}
.footer-list .footer-items .footer-link:hover {
  text-decoration: underline;
  color: #99ffff;
}
.footer-list .footer-items .link-title {
  font-size: 28px;
  color: black;
}
