*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
$corlor_red: rgb(255, 0, 128);
$corlor_blue: rgb(0, 191, 255);
$corlor_green: rgb(0, 255, 0);
$corlor_yellow: rgb(255, 255, 0);
$corlor_white: white;
$corlor_aqua: rgb(153, 255, 255);
$corlor_grey: #cccccc;


@mixin mq_min_969 {
    @media (min-width: 969px) {
        @content;
    }
}