*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
$corlor_red: rgb(255, 0, 128);
$corlor_blue: #e6e6e6;
$corlor_black: #4d4d4d;
$corlor_yellow: rgb(255, 255, 0);
$corlor_white: white;
$corlor_aqua: rgb(153, 255, 255);
$corlor_grey: #666666;


@mixin mq_min_943 {
    @media (min-width: 943px) {
        @content;
    }
}

@mixin mq_min_528 {
    @media (min-width: 528px) {
        @content;
    }
}