.footer{
    width: 100%;
    background-color: $corlor_blue;
    .footer-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
        .footer-sp{
            width: 100%;
            margin: 20px 0;
            @include mq_min_528{
                width: 50%;
                padding: 0;
            }
            @include mq_min_943{
                width: 25%;
                
            }
        }
    }
}



.footer-list{
    list-style: none;
    .footer-items{
        padding-bottom: 15px;
        .footer-link{
            text-decoration: none;
            color: $corlor_grey;
        &:hover{
            text-decoration: underline;
            color: $corlor_aqua;
            }
        }
        .link-title{
            font-size: 28px;
            color: black;
        }
    }
}